html,
body,
main {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.footer {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.aside {
  box-sizing: border-box;
}

.search {
    width: 500px;
    height: 100%;
    position: absolute;
    background: lightblue;
}

.search-input {
  width: 300px;
  padding: 5px;
  margin: 10px;
  font-size: 1.2rem;
}

.items-list {
  list-style-type: none;
  line-height: 1.6;
  text-align: left;
}
